{% extends 'base.html' %}

{% block content %}
    Алгоритм работы игры:
    <ul>
        <li>Пользователь регистрируется на сайте;</li>
        <li>Пользователь создает игры либо подключается к существующей;</li>
        <li>Пользователь ждет присоединения других игроков;</li>
        <li>Пользователь, создавший игру, запускает ее;</li>
        <li>Нейронная сеть генерирует вопросы для каждого человека и для каждого раунда;</li>
        <li>Каждый пользователь в каждом раунде получает по 2 вопроса;</li>
        <li>Каждый пользователь отвечает на оба вопроса;</li>
        <li>После этого происходит анонимное голосование, среди игроков, где выбирается наиболее понравившийся ответ;</li>
        <li>По результатам голосования начисляются баллы;</li>
        <li>В конце игры пользователь с наибольшим количеством баллов побеждает;</li>
        <li>Игра заканчивается, комната удаляется.</li>
    </ul>
{% endblock %}
