{% extends 'base.html' %}

{% block content %}
    В рамках курсового проекта была разраработана система развлекательного характера.
    Суть её в том, что пользователи совместно даютсмешные ответы на вопросы, общаясь в процессе,
    а после голосуют за луч-ший ответ. Акцент делался на актуальности приложения в сложившейся вмире ситуации, а также на том, что вопросы будут генерироваться специаль-но обученной РНС.
    В дальнейшем планируется доработка и оптимизациясервиса, добавление статистики, чата, ботов, чат-ботов, переоборудованиеприложения в социальную сеть, добавление других игр, таких как шпион,наполнение контентом.
    Всё это расширит возможности системы, позволяя превзойти имеющиеся аналоги.
    <div class="mt-3">
        Программный продукт реализован на 3 микросервисах, работающихна heroku (облачная PaaS-платформа):
        <ul>
            <li>front-end сервис - сервер, обеспечивающий взаимодействие пользо-вателя с приложением;</li>
            <li>back-end сервис - сервер, обеспечивающий программно-аппаратнуючасть продукта;</li>
            <li>сервис с нейросетью - сервер, генерирующий текст и передающийпо GET запросу от back-end сервиса.</li>
        </ul>
    </div>
{% endblock %}
