{% extends 'base.html' %}
{% load static %}

{% block content %}
    Средства реализации:
    <ul>
        <li>Django - свободный фреймворк для веб-приложений на языке Python, из-за множества готовых решений, скорости разработки и предпочтений разработчиков;</li>
        <li>Numpy - мощная билиотека, предоставляющая множество функций для выполнения сложных вычислений, в продукте использовался в связке с keras;</li>
        <li>Keras -  открытая нейросетевая библиотека, написанная на языке Python, нацелена на оперативную работу с сетями глубинного обучения;</li>
        <li>TensorFlow - открытая программная библиотека для машинного обучения для решения задач построения и тренировки нейронной сети с целью автоматического нахождения и классификации образов, достигая качества человеческого восприятия. Необходима для работы Keras.</li>
    </ul>
    Диаграмма классов:
    <img src="{% static 'pictures/class_diag.jpg' %}">
{% endblock %}
