<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var chatSocket = new WebSocket('ws://127.0.0.1:8000/game/testRoom/');
    chatSocket.onmessage = function(e) {
        console.log('here')
        var data = JSON.parse(e.data);
        console.log(data);
    };
    document.onclick = function() {
        chatSocket.send(JSON.stringify({
            'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNTg5MTQ4MDU5LCJqdGkiOiJlZjEzNDQ3NWE3MDE0ZDM5OTg0MzUzN2VlZWJhNGNmYiIsInVzZXJfaWQiOjF9.epIePzq_VOpGWWRxwbP_hQQFbKABLhouVdRA-nsb_CQ'
        }));
    }
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
</html>